<div class="game-container">
    <div class="game-header">
        <h1>
            {{game.name}}
            <button class="edit-button" ng-click="showDialogEditTitle()" ng-if="isUserAdmin()">✎</button>
        </h1>
        <div class="stars">
            <!-- Estrellas completas -->
            <img ng-src="imgs/star.png" alt="star" ng-repeat="star in getStarsArray(fullStars) track by $index">
            
            <!-- Media estrella -->
            <img ng-if="halfStars" ng-src="imgs/half_star.png" alt="half-star">
            
            <!-- Estrellas vacías -->
            <img ng-src="imgs/empty_star.png" alt="empty-star" ng-repeat="star in getStarsArray(emptyStars) track by $index">
        </div>
    </div>
    <div class="game-body-container">
        <div class="game-content">
            <div class="media">
                <div class="carousel-container">
                    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-buffered rn-carousel-auto-slide class="carousel-media">
                        <li ng-repeat="screenshot in game.screenshots track by screenshot.id" ng-class="'id-' + screenshot.id">
                            <img ng-src="{{screenshot.path_full}}" class="carousel-media-image" alt="{{game.name}} Screenshot {{screenshot.id}}"/>
                        </li>
                    </ul>
                </div>
                <div class="thumbnails-container">
                    <div class="thumbnails">
                      <div class="thumbnail" ng-repeat="screenshot in game.screenshots" ng-click="updateCarouselIndex(screenshot.id)" ng-class="{active: screenshot.id == carouselIndex}">
                            <img ng-src="{{screenshot.path_thumbnail}}" class="thumbnail_image" alt="{{game.name}} Screenshot {{screenshot.id}}" />
                     </div>
                    </div>
                </div>
                <button class="edit-button" ng-click="showDialogEditScreenshots()" ng-if="isUserAdmin()">✎</button>
            </div>
            <div class="content">
                <div class="short-description">
                    <p>
                        {{game.short_description}}
                        <button class="edit-button" ng-click="showDialogEditShortDesc()" ng-if="isUserAdmin()">✎</button>
                    </p>
                </div>
                <div class="characteristic">
                    <h3>Categorias: </h3>
                    <div class="characteristic-values">
                        <p ng-repeat="cat in game.categories">{{cat}}</p>
                    </div>
                    <button class="edit-button" ng-click="showDialogEditCat()" ng-if="isUserAdmin()">✎</button>
                </div>
                <div class="characteristic">
                    <h3>Generos: </h3>
                    <div class="characteristic-values">
                        <p ng-repeat="gen in game.genres">{{gen}}</p>
                    </div>
                    <button class="edit-button" ng-click="showDialogEditGenre()" ng-if="isUserAdmin()">✎</button>
                </div>
                <div class="characteristic">
                    <h3>Etiquetas: </h3>
                    <div class="characteristic-values">
                        <p ng-repeat="tag in game.steamspy_tags">{{tag}}</p>
                    </div>
                    <button class="edit-button" ng-click="showDialogEditTag()" ng-if="isUserAdmin()">✎</button>
                </div>
                <div class="description-container" ng-class="{ 'show-more-desc': showMoreDesc }">
                    <button class="edit-button" ng-click="showDialogEditDescription()" ng-if="isUserAdmin()">✎</button>
                    <div class="description" ng-bind-html="trustedHtml(game.detailed_description)"></div>
                </div>
                <button class="btn-ver-mas-desc" ng-click="toggleShowMoreDesc()" ng-bind="showMoreDesc ? 'Ver menos' : 'Ver más'"></button>
                <h1>Requerimientos</h1>
                <div class="requirements-container">
                    <div class="header-requirements">
                        <h2 ng-click="showPcReq()" ng-if="isWindowsPresent" ng-class="{ 'selected': pcReq }">Windows</h2>
                        <h2 ng-click="showMacReq()" ng-if="isMacPresent" ng-class="{ 'selected': macReq }">Mac</h2>
                        <h2 ng-click="showLinuxReq()" ng-if="isLinuxPresent" ng-class="{ 'selected': linuxReq }">Linux</h2>
                    </div>
                    <div class="requirements" ng-if="pcReq">
                        <button class="edit-button" ng-click="showDialogEditRequirements('pc_requirements','minimum')" ng-if="isUserAdmin()">✎</button>
                        <div class="minimum-requirements" ng-bind-html="trustedHtml(game.pc_requirements.minimum)"></div>
                        <button class="edit-button" ng-click="showDialogEditRequirements('pc_requirements','recommended')" ng-if="isUserAdmin()">✎</button>
                        <div class="recommended-requirements" ng-bind-html="trustedHtml(game.pc_requirements.recommended)"></div>
                    </div>
                    <div class="requirements" ng-if="macReq">
                        <button class="edit-button" ng-click="showDialogEditRequirements('mac_requirements','minimum')" ng-if="isUserAdmin()">✎</button>
                        <div class="minimum-requirements" ng-bind-html="trustedHtml(game.mac_requirements.minimum)"></div>
                        <button class="edit-button" ng-click="showDialogEditRequirements('mac_requirements','recommended')" ng-if="isUserAdmin()">✎</button>
                        <div class="recommended-requirements" ng-bind-html="trustedHtml(game.mac_requirements.recommended)"></div>
                    </div>
                    <div class="requirements" ng-if="linuxReq">
                        <button class="edit-button" ng-click="showDialogEditRequirements('linux_requirements','minimum')" ng-if="isUserAdmin()">✎</button>
                        <div class="minimum-requirements" ng-bind-html="trustedHtml(game.linux_requirements.minimum)"></div>
                        <button class="edit-button" ng-click="showDialogEditRequirements('linux_requirements','recommended')" ng-if="isUserAdmin()">✎</button>
                        <div class="recommended-requirements" ng-bind-html="trustedHtml(game.linux_requirements.recommended)"></div>
                    </div>
                </div>
                <h1>Reseñas de los usuarios</h1>
                <div class="reviews">
                    <div class="rating">
                        <h1>{{percentage * 0.05 | number: '1'}}</h1>
                        <div class="stars">
                            <!-- Estrellas completas -->
                            <img ng-src="imgs/star.png" alt="star" ng-repeat="star in getStarsArray(fullStars) track by $index">
                            
                            <!-- Media estrella -->
                            <img ng-if="halfStars" ng-src="imgs/half_star.png" alt="half-star">
                            
                            <!-- Estrellas vacías -->
                            <img ng-src="imgs/empty_star.png" alt="empty-star" ng-repeat="star in getStarsArray(emptyStars) track by $index">
                        </div>
                    </div>
                    <p>({{game.total_ratings}} reseñas totales)</p>
                    <button class="btn-add-review" ng-click="showReviewModal()">Añadir reseña</button>
                    <div class="review" ng-repeat="review in reviews">
                        <div class="review-header">
                                <h2>{{review.name}}</h2>
                                <p>{{review.date | date:"dd MMM yyyy"}}</p>
                                <img ng-src="imgs/like.png" alt="like" ng-if="review.recommend">
                                <img ng-src="imgs/dislike.png" alt="dislike" ng-if="!review.recommend">
                        </div>
                        <div class="review-body">
                            <div class="review-body-upper">
                                <h2>{{review.title}}</h2>
                                <button class="btn-edit-review" ng-click="showEditReviewModal(review)" ng-if="isUserAdmin()">✎</button>
                                <button class="btn-delete-review" ng-click="deleteReview(review.review_id)" ng-if="isUserAdmin()">X</button>
                            </div>
                            <p>{{review.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-container">
            <div class="summary">
                <div class="summary-header-image">
                    <img ng-src="{{game.header_image}}" alt="{{game.name}}"/>
                    <button class="edit-button" ng-click="showDialogEditHeaderImage()" ng-if="isUserAdmin()">✎</button>
                </div>
                <div class="game-info">
                    <p class="game-info-key">Desarrollador: </p>
                    <p class="game-info-value" ng-repeat="dev in game.developer" ng-if="$last">{{dev}}</p>
                    <p class="game-info-value" ng-repeat="dev in game.developer" ng-if="!$last">| {{dev}}</p>
                    <button class="edit-button" ng-click="showDialogEditDeveloper()" ng-if="isUserAdmin()">✎</button>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Editor: </p>
                    <p class="game-info-value" ng-repeat="pub in game.publisher" ng-if="$last">{{pub}}</p>
                    <p class="game-info-value" ng-repeat="pub in game.publisher" ng-if="!$last">| {{pub}}</p>
                    <button class="edit-button" ng-click="showDialogEditPublisher()" ng-if="isUserAdmin()">✎</button>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Fecha de lanzamiento: </p>
                    <p class="game-info-value">{{game.release_date | date:"dd MMM yyyy"}}</p>
                    <button class="edit-button" ng-click="showDialogEditReleaseDate()" ng-if="isUserAdmin()">✎</button>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Edad: </p>
                    <p class="game-info-value">{{game.required_age}}</p>
                    <button class="edit-button" ng-click="showDialogEditRequiredAge()" ng-if="isUserAdmin()">✎</button>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Plataforma: </p>
                    <div class="game-info-value">
                        <p ng-repeat="plat in game.platforms" ng-if="$last">{{plat}}</p>
                        <p ng-repeat="plat in game.platforms" ng-if="!$last">| {{plat}}</p>
                    </div>
                    <button class="edit-button" ng-click="showDialogEditPlatforms()" ng-if="isUserAdmin()">✎</button>
                </div>
                <span class="separator"></span>
                <p class="price">
                    {{game.price | currency:"US$ " }}
                    <button class="edit-button" ng-click="showDialogEditPrice()" ng-if="isUserAdmin()">✎</button>
                </p>
                <a href="https://store.steampowered.com/app/{{game.appid}}" class="btn-buy-now">Comprar Ahora</a>
                <div class="btn-delete-game">
                    <button class="btn-delete-game" ng-click="deleteGame()" ng-if="isUserAdmin()">Eliminar Juego</button>
                </div>
            </div>
        </div>
    </div>
</div>
