<div class="search-page-container">
    <div class="contenedorJuegos">
        <div class="table-head">
            <div class="table-head-search">
                <input
                class="form-search"
                type="text"
                ng-model="search_buffer"
                ng-keyup="$event.keyCode === 13 && searchBy()"
                placeholder="Escribe el nombre del juego"
                />
                <button class="btn-search" ng-click="searchBy()">Buscar</button>
                <button class="btn-search" ng-click="cleanSearch()">Limpiar busqueda</button>
            </div>
            <div class="table-head-sort">
                <select class="form-property" ng-model="propertyName" ng-options="option.value as getTranslatedLabel(option.value) for option in options" ng-change="sortBy()"></select>
                <button class="btn-reverse" ng-click="reverseFunction()">
                    <!--alter between upper arrow and lower arrow-->
                    <span ng-show="!reverse">▲</span>
                    <span ng-show="reverse">▼</span>
                </button>
            </div>
        </div>
        <div class="number-of-results">Cantidad de resultados: {{ cantidadResultados }}</div>
        <div class="pagination-container-sup">
            <button class="pagination-container-btn" ng-click="previousPage()" ng-disabled="currentPage <= 1">Anterior</button>
            <span class="pagination-container-txt"> Página {{ currentPage }} de {{ totalPages }} </span>
            <button class="pagination-container-btn" ng-click="nextPage()" ng-disabled="currentPage >= totalPages">Siguiente</button>
        </div>
        <table class="tabla_juegos">
            <tbody>
                <tr ng-click="gotoGame(gam.appid)" ng-repeat="gam in games | orderBy:propertyName:reverse">
                    <td class="td-game-info">
                        <img ng-src="{{gam.header_image}}" alt="{{gam.name}}" />
                        <div class="td-game-info-summary">
                            <h2>{{gam.name | uppercase}}</h2>
                            <div class="td-game-info-tags">
                                <p ng-repeat="tag in gam.steamspy_tags | limitTo: 5">{{tag}}</p>
                            </div>
                            <p class="td-game-info-release-date">{{gam.release_date | date:"dd MMM yyyy"}}</p>
                            <div class="td-game-info-reviews">
                                <p>{{gam.total_ratings}} reseñas de usuarios</p>
                                <p ng-if="gam.positive_ratings > gam.negative_ratings">Mayormente positivas</p>
                                <p ng-if="gam.positive_ratings < gam.negative_ratings">Mayormente negativas</p>
                            </div>
                        </div>
                    </td>
                    <td class="td-gotoGame-container">
                        <div class="td-gotoGame">
                            <h2 ng-if="gam.price > 0">{{gam.price | currency:"US$" }}</h2>
                            <h3 ng-if="gam.price === 0.0">Gratis</h3>
                            <button ng-if="gam.price > 0" class="btn-gotoGame">Comprar</button>
                            <button ng-if="gam.price === 0" class="btn-gotoGame">Jugar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-container-inf">
            <button class="pagination-container-btn" ng-click="previousPage()" ng-disabled="currentPage <= 1">Anterior</button>
            <span class="pagination-container-txt"> Página {{ currentPage }} de {{ totalPages }} </span>
            <button class="pagination-container-btn" ng-click="nextPage()" ng-disabled="currentPage >= totalPages">Siguiente</button>
        </div>
    </div>
    <div class="contenedorFiltros">
        <div class="filter-price-range">
            <p>Limitar por precio</p>
            <p>Más de USD$ {{minPrice}}</p>
            <input type="range" min="0" max="{{maxPrice}}" ng-model="minPrice" ng-change="filterByPrice()" />
            <p>Menos de USD$ {{maxPrice}}</p>
            <input type="range" min="0" max="{{absoluteMaxPrice}}" ng-model="maxPrice" ng-change="filterByPrice()" />
        </div>
        <button class="filter-clean-btn" ng-click="cleanFilters()">Limpiar filtros</button>
        <table class="tablita">
            <thead>
                <button class="filter_btn" ng-click="toggleShowFilter(0, categories.lenght())"> Categorias </button>
            </thead>
            <tbody>
                <tr class="filter" ng-repeat="cat in categories | limitTo: lims[0]">
                    <td class="filterCont" ng-class="{ 'selected': cat.checked }">
                        <input type="checkbox" ng-model="cat.checked" ng-change="filterBy(0, cat)" />
                        {{cat.name}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="tablita">
            <thead>
                <button class="filter_btn" ng-click="toggleShowFilter(1, genres.lenght())"> Generos </button>
            </thead>
            <tbody>
                <tr class="filter" ng-repeat="gen in genres | limitTo: lims[1]">
                    <td class="filterCont" ng-class="{ 'selected': gen.checked }">
                        <input type="checkbox" ng-model="gen.checked" ng-change="filterBy(1, gen)" />
                        {{gen.name}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="tablita">
            <thead>
                <button class="filter_btn" ng-click="toggleShowFilter(2, tags.lenght())"> Etiquetas </button>
            </thead>
            <tbody>
                <tr class="filter" ng-repeat="tag in tags | limitTo: lims[2]">
                    <td class="filterCont" ng-class="{ 'selected': tag.checked }">
                        <input type="checkbox" ng-model="tag.checked" ng-change="filterBy(2, tag)" />
                        {{tag.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
