/*
BACKGROUND: #121212
HEADER: #18181c
inner: #202020
titles: #f5f5f5
paragraphs: #9a9a9a
buttons: #414141
*/
.contenedor {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.logo {
    padding-right: 20px;
    margin-left: 30px;
}

.logoImg {
    width: 100px;
    height: auto;
}
.logoImg:hover {
    cursor: pointer;
}

body {
    background-color: #121212;
    margin: 0;
    color: #9a9a9a;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/*personaliza el scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    
    background: linear-gradient(to right, #414141, #9a9a9a);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #393939; /* Color del fondo de la barra de desplazamiento */
    border-radius: 5px;
}

/*----------------------Header*/

.estim-header-container {
    background-color: #18181c;
    display:flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.estim-header {
    display: flex;
    align-items: center;
    width: 75%;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: auto;
    margin:0;
}
.logo:hover {
    cursor: pointer;
}

.estim-header h1 {
    font-size: 20px;
    font-weight: normal;
    color: #f5f5f5;
    padding: 10px;
    margin:0;
}

.estim-header h1.hovered,
.estim-header h1:hover {
    cursor: pointer;
    color: #64baed;
    border-radius: 5px;
    background-color: #414141;
}

.index-dropdown-container {
    position: relative;
}

.index-dropdown-item {
    margin:20px;
}

.index-dropdown-item:hover {
    color: #64baed;
    cursor: pointer;
    border-bottom: 2px solid #f5f5f5;
}

.index-dropdown {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    z-index: 1;
    background-color: #414141;
    border-radius: 5px;
    /*box-shadow menos en la parte superior*/
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
}

.categories-dropdown {
    padding:20px;
    column-count: 4;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #202020;
}

.user-type-selector {
    display: flex;
    align-items: center;
    margin-left: auto;
}

select {
    padding: 5px;
    border-radius: 5px;
    background-color: #18181c;
    border: 2px solid #404040;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

select:hover {
    background-color: #404040;
}

select option {
    padding: 1px;
    border-radius: 5px;
}

/*----------------------FIN Header*/

/*----------------------Pie de Pagina*/

.estim-footer {
    margin-top: 50px;
    display: inline;
    position: relative;
    background-color: #18181c;
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: none;
}

.footer-content {
    display: flex;
    margin: 30px;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    max-width: 800px;
    text-align: left;
    color: #818181;
    font: italic;
}

#scrollToTopBtn {
    cursor: pointer;
    font-size: 2em; 
    border: 2px solid #404040;
    background-color: #18181c;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

#scrollToTopBtn:hover {
    background-color: #404040;
}

.footer-links {
    margin: 30px;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: flex-start;
}

.footer-links span {
    color: #f5f5f5;
    margin-right: 20px; /* O el espacio que desees entre los títulos */
}

.footer-links span:hover {
    color: #64baed;
}

/*----------------------FIN Pie de Pagina*/