/*
BACKGROUND: #121212
HEADER: #18181c
inner: #202020
titles: #f5f5f5
paragraphs: #9a9a9a
buttons: #414141
*/
.background-image {
    background-image: url('https://raw.githubusercontent.com/NicolasMP51/imagenes/main/image__1_-removebg-preview.png'); /* Reemplaza 'ENLACE_DIRECTO_IMGUR' con el enlace directo de tu imagen en Imgur */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-game-body-container {
    display: flex;
    flex-direction: row;
    background-color: #202020;
    padding: 20px; /* Añade un espacio alrededor del contenido para mejorar la apariencia */
    border-radius: 10px;
}

.main-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*--------------------Lista de juegos derecha*/

.main-thumbnails {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: nowrap;
    overflow-y: auto; /* Añade la barra de desplazamiento vertical cuando sea necesario */
    width: 20%;
    max-height: 500px; /* Establece el valor máximo de altura según tus necesidades */
}

.main-thumbnail {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin-right: 10px;
    margin-top: 5px;
}

.main-thumbnail img {
    width: 100%;
    height: 60px; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Evita que la imagen se estire */
    border-radius: 5px;
    opacity: 0.5;
}

.main-thumbnail img:hover {
    opacity: 1;
}

.main-thumbnail h2 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
}

.main-thumbnail.active {
    background-color: rgb(65, 64, 64); /* Cambia el color de fondo al seleccionar */
    border-radius: 5px; /* Añade bordes redondeados */
}

.main-thumbnail.active img {
    opacity: 1; /* Cambia la opacidad del elemento activo */
}

/*--------------------FIN Lista de juegos derecha*/

/*--------------------Juego seleccionado*/

.main-game-large {
    width: 95%; /* Ajusta el ancho del contenedor del juego grande según tus necesidades */
}

.main-game-large img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px; /* Añade bordes redondeados */
}

.main-game-large h1 {
    margin-top: 0;
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
    color: #f5f5f5;
}

.main-game-large p {
    font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin-top: 10px; /* Añade un espacio superior */
    white-space: normal; /* Permite que el texto envuelva automáticamente */
}

.main-game-large .price {
    font-size: 42px;
    color: #f5f5f5;
    font-weight: bold;
}

/*--------------------FIN Juego seleccionado*/

/*--------------------Carousel de media*/
.main-carousel-container {
    width: 80%;
}

ul[rn-carousel] {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

/*--------------------FIN Carousel de media*/

/*--------------------Editores populares*/

.popular-editors-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
}

.image-container {
    text-align: center; /* Centra el contenido dentro del contenedor */
    width: 100%;
}

.image-container img {
    width: 150px;
    height: auto;
    border-radius: 5px; /* Añade bordes redondeados */
}

.image-title {
    margin-top: 5px; /* Ajusta el espacio entre la imagen y el título*/
    font-size: 14px; /* Ajusta el tamaño del título*/
    margin-bottom: -10px; /* Ajusta el margen inferior negativo según sea necesario */
}

/*--------------------FIN Editores populares*/

/*--------------------Sección de Juegos Free-to-Play */
.free-to-play-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    background-color: #202020;
    border-radius: 10px;
    max-width: 100%;
}

.main-game-item {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    flex: 0 0 auto;
    width: 300px;
}

.main-game-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.main-game-title {
    margin-top: 5px; /* Ajusta el espacio entre la imagen y el título*/
    font-size: 14px; /* Ajusta el tamaño del título*/
    margin-bottom: -5px; /* Ajusta el margen inferior negativo según sea necesario */
}

/*--------------------FIN Sección de Juegos Free-to-Play */