/*
BACKGROUND: #121212
HEADER: #18181c
inner: #202020
titles: #f5f5f5
paragraphs: #9a9a9a
buttons: #414141
*/
.search-page-container {
    display: flex;
    flex-direction: row;
}

.contenedorJuegos {
    width: 80%;
    margin-right: 30px;
    border-radius: 5px;
}
.contenedorFiltros {
    width: 21%;
    margin-top: 20px;
}



/*-----------------------slider*/
.filter-price-range {
    border: none;
    background-color: #202020;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.filter-price-range input[type=range] {
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
.filter-price-range input[type=range]:focus {
    outline: none;
}
.filter-price-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #002200;
    background: #66c1f5;
}
.filter-price-range input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.filter-price-range p {
    padding: 5px;
    margin-top: 0;
}
.filter-price-range p1 {
    margin-bottom: 10px;
    text-align: center;
}
/*-----------------------slider*/


/*-----------------------tabla filtros*/
.tablita {
    border: none;
    margin-bottom: 20px;
    width: 100%;
    border-spacing: 0;
    background-color: #202020;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter {
    background-color: #202020;
    color: #9a9a9a;
}

.filter:hover {
    background-color: #414141;
    color: #64baed;
}

.filter-clean-btn {
    background-color: #414141;
    color: #f5f5f5;
    font-size: 18px;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;

}

.filter-clean-btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, #64baed, #4581a4);
}

.filterCont.selected {
  background: linear-gradient(to right, #64baed, #4581a4);
  color: #f5f5f5;
  cursor: pointer;
}

.filterCont {
    padding: 3px 5px;
    border-radius: 5px;
    cursor: default;
}
.filter_btn {
    background-color: #414141;
    color: #f5f5f5;
    font-size: 18px;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.filter_btn:hover {
    cursor: pointer;
}
/*----------------------- FIN tabla filtros*/

/*-----------------------cabecera tabla juegos*/
.table-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}
.table-head-search {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
}

.form-search {
    width: 70%;
    height: 100%;
    padding: 5px;
    background-color: #202020;
    color: #f5f5f5;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.btn-search {
    background-color: #202020;
    color: #9a9a9a;
    border: none;
    margin-left: 10px;
    padding:5px;
    border-radius: 5px;
}

.btn-search:hover {
    cursor: pointer;
    background: linear-gradient(to right, #64baed, #4581a4);
    color: #f5f5f5;
}

.number-of-results{
    background-color: #202020;
    color: #9a9a9a;
    border: none;
    padding:5px;
    border-radius: 5px;
    display: inline-block;
}

.table-head-sort {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    font-size: 96%;
}

.form-property {
    width: 100%;
    padding: 5px;
    background-color: #202020;
    color: #9a9a9a;
    border: none;
    margin-right:10px;
}
.form-property:hover {
    cursor: pointer;
    background: linear-gradient(to right, #64baed, #4581a4);
    color: #f5f5f5;
}

.form-property:focus {
    background-color: #202020;
}

.btn-reverse {
    background-color: #202020;
    color: #9a9a9a;
    padding: 5px;
    width: 10%;
    border: none;
    border-radius: 5px;
}
.btn-reverse:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #323e4c;
  background: linear-gradient(to right, #64baed, #4581a4);
  color: white;
}

.pagination-container-txt{
    background-color: #202020;
    color: #9a9a9a;
    margin-right: 10px;
    border: none;
    padding:5px;
    border-radius: 5px;
}

.pagination-container-btn{
    background-color: #202020;
    color: #9a9a9a;
    margin-right: 10px;
    border: none;
    padding:5px;
    border-radius: 5px;
}

.pagination-container-btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, #64baed, #4581a4);
    color: #f5f5f5;
}

.pagination-container-sup{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.pagination-container-inf{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

/*-----------------------cabecera tabla juegos*/

/*-----------------------tabla juegos*/
.tabla_juegos {
    border-spacing: 0 10px;
    width: 100%;
}

.tabla_juegos tbody tr {
    background-color: #202020;
    box-shadow: 0 1px 10px #000000;
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}

.tabla_juegos tbody tr:hover{
    /*transform: scale(1.03, 1.2);*/
    cursor: pointer;
    background-color: #414141;
}

.td-game-info {
    display: flex;
    width: 75%;
}

.td-game-info img { 
    width: 30%;
    height: 95%;
    padding: 3px;
    border-radius: 7px;
}

.td-game-info-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
}

.td-game-info-summary h2{
    color: #f5f5f5;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.td-game-info-tags {
    display: flex;
    flex-direction: row;
}

.td-game-info-tags p {
    margin: 0 10px 0 0;
    background-color: #181818;
    padding: 5px;
    border-radius: 5px;
}

.td-game-info-tags p:hover {
    color: #64baed;
}

.td-game-info-release-date {
    margin:0;
}

.td-game-info-reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.td-game-info-reviews p {
    margin: 0 10px 0 0;
}

.td-gotoGame-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 25%;
    padding:10px;
}

.td-gotoGame {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
}

.td-gotoGame h2,
.td-gotoGame h3 {
    color: #f5f5f5;
    font-size: 19px;
    margin:0;
    padding:0;
    width: 50%;
    height: 100%;
    background-color: #181818;
    display: flex; /* Hace que .td-gotoGame h2 sea un contenedor flex */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-gotoGame {
    height: 100%;
    width: 50%;
    cursor: pointer;
    background: linear-gradient(to right, #64baed, #4581a4);
    color: #f5f5f5;
    font-size: 19px;
    border: none;
    opacity: 0.9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-gotoGame:hover {
    opacity: 1;
}