/*
BACKGROUND: #121212
HEADER: #18181c
inner: #202020
titles: #f5f5f5
paragraphs: #9a9a9a
buttons: #414141*/
/*----------------------------------------INDEX*/
.logo {
    background-color: #18181c;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logoImg {
    width: 200px;
    height: 50px;
    margin: auto;
}
.logoImg:hover {
    cursor: pointer;
}

body {
    background-color: #121212;
    margin: 0;
    color: #9a9a9a;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

/*personaliza el scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    
    background: linear-gradient(to right, #414141, #9a9a9a);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: #202020; /* Color del fondo de la barra de desplazamiento */
}

/*----------------------------------------FIN INDEX*/

.contenedor {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.contenedorJuegos {
    width: 50%;
    margin-right: 30px;
}
.contenedorFiltros {
    width: 15%;
    float: right;
    display: inline-block;
}

/*-----------------------slider*/
.filter-price-range {
    border: 1px solid #333e4c;
    border-radius: 5px 5px 0px 0px;
    border-collapse: separate;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.filter-price-range input[type=range] {
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    -webkit-appearance: none;
}
.filter-price-range input[type=range]:focus {
    outline: none;
}
.filter-price-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #002200;
    background: #66c1f5;
}
.filter-price-range input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.filter-price-range p {
    background-color: #333e4c;
    padding: 5px;
    margin-top: 0;
}
.filter-price-range p1 {
    margin-bottom: 10px;
    text-align: center;
}
/*-----------------------slider*/


/*-----------------------tabla filtros*/
.tablita {
    border: 1px solid #333e4c;
    border-radius: 0px 0px 5px 5px;
    border-collapse: separate;
    margin-bottom: 20px;
    width: 100%;
}

.filter {
    background-color: #1b2838;
    /*color: white;*/
    /*padding: 50px;*/
}

.filter:hover {
    background-color: #333e4c;
  color: white;
}
.selected {
  background: linear-gradient(to right, #64baed, #4581a4);
  color: white;
}
.filterCont {
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.filter_btn {
    background-color: #333e4c;
    color: white;
    border: 1px solid #333e4c;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    width: 100%;
    text-align: left;
}
.filter_btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #323e4c;
  background: linear-gradient(to right, #64baed, #4581a4);
  color: white;
}
/*-----------------------tabla filtros*/

/*-----------------------cabecera tabla juegos*/
.table-head {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 1px 10px #000000;
    padding: 5px 0px;
}
.btn-reverse {
    background-color: #223a4c;
    color: white;
    border: 1px solid #333e4c;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
}
.btn-reverse:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #323e4c;
  background: linear-gradient(to right, #64baed, #4581a4);
  color: white;
}
.form-search {
    width: 40%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #333e4c;
    background-color: #223a4c;
    color: white;
    margin-left: 5px;
}
.btn-search {
    background-color: #223a4c;
    color: white;
    border: 1px solid #333e4c;
    border-radius: 3px;
    align: left;
    margin-left: 5px;
    margin-right:auto;
    padding:5px;
}
.btn-search:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #323e4c;
  background: linear-gradient(to right, #64baed, #4581a4);
  color: white;
}
.form-property {
    width: 20%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #333e4c;
    background-color: #223a4c;
    color: white;
}
.form-property:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #323e4c;
    background: linear-gradient(to right, #64baed, #4581a4);
    color: white;
}
/*-----------------------cabecera tabla juegos*/

/*-----------------------tabla juegos*/
.tabla_juegos {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    table-layout: fixed;
}
.tabla_juegos tbody td,tr {
    background-color: #16202d;
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*padding-right: 5px;*/
    /*border-top: 1px solid #333e4c;*/
    /*border-bottom: 1px solid #333e4c;*/
    /*border: 1px solid #333e4c;*/
}
.tabla_juegos tbody tr:hover{
    transform: scale(1);
    box-shadow: 1px 1px 5px #323e4c;
    cursor: pointer;
}
.tabla_juegos tbody tr:hover td{
    background-color: #101822;
}
.game-logo {
    width: 120px;
}
.game-name {
    padding-left: 10px;
}
.game-release_date {
    width: 6em;
}
.game-price {
    width: 6em;
    text-align: right;
    padding-right: 1em;
}
/*-----------------------tabla juegos*/

/*----------------------------------------PAGINA JUEGO*/
.game-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-body-container {
    display: flex;
    flex-direction: row;
}

.game-content {
    width: 70%;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-header h1 {
    color: #f5f5f5;
    font-size: 42px;
    font-weight: normal;
}

/*--------------------Carousel de media*/
.carousel-container {
    width: 100%;
}

ul[rn-carousel] {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.carousel-media img {
    width: 100%;
    max-height: 100%;
    object-fit:cover;
}

/*--------------------FIN Carousel de media*/

/*--------------------miniaturas*/
.thumbnails {
    display: flex;
    justify-content:flex-start;
    flex-wrap: nowrap;
    height: auto;
    overflow: auto;
    max-width: 100%;
}

.thumbnail {
    cursor: pointer;
    padding: 3px;
}

.thumbnail img {
    width: auto; /* Ajusta la imagen al 100% del contenedor */
    height: 60px; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Evita que la imagen se estire */
    border-radius: 5px;
    opacity: 0.5;
}

.thumbnail img:hover {
    opacity: 1;
}

/*add color border to active img thumbnail*/
.thumbnail.active img {
    border: 1px solid #f5f5f5;
    opacity: 1;
}
/*--------------------FIN miniaturas*/

/*--------------------RESUMEN lateral*/
.sticky-container {
    width: 25%; /* Ajusta según sea necesario */
    position: sticky;
    top: 0;
    height: 100vh; /* Hace que el contenedor tenga el 100% de la altura de la ventana */
    box-sizing: border-box;
    margin-left: auto;
}

.summary {
    position: sticky;
    top: 0;
}

.summary-header-image {
    width: 100%;
    height: auto;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

.separator {
    display: block;
    height: 1px;
    background-color: #9a9a9a;
    width: 100%;
}

.game-info p {
    margin: 0px;
    padding-left: 5px;
    font-size: 18px;
}

.game-info-key {
    color: #9a9a9a;
}

.game-info-value {
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
}

.price {
    font-size: 30px;
    color: #f5f5f5;
    margin:10px 0px;
}

.btn-buy-now {
    display: block;
    width: 100%;
    height: 75px;
    background-color: #414141;
    color: #f5f5f5;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0px 0px 5px 5px;
}

.btn-buy-now:hover {
    background: linear-gradient(to right, #64baed, #4581a4);
}
/*--------------------FIN RESUMEN lateral*/

/*--------------------Contenido del juego*/

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-size: 30px;
    font-weight: normal;
    color: #f5f5f5;
}

.content h2 {
    font-size: 24px;
    font-weight: normal;
    color: #f5f5f5;
}

.content h3 {
    font-size: 18px;
    font-weight: normal;
}

.content p {
    font-size: 18px;;
}

.short-description p {
    color: #f5f5f5;
    font-size: 20px;
}

.characteristic {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
    border-left: 5px solid #202020;
}

.characteristic h3 {
    margin: auto 5px;
}

.characteristic-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 70%;
}

.characteristic-values p {
    color: #f5f5f5;
    padding-left: 15px;
    margin:0px;
}

.description-container {
    height: 300px;
    overflow: hidden;
    margin-top: 20px;
}

.show-more-desc {
    height: auto !important; /* Altura máxima al hacer clic */
}

.btn-ver-mas-desc {
    background-color: #414141;
    color: #f5f5f5;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 70px;
    display: block;
    box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.6);
}

.btn-ver-mas-desc:hover {
    background: linear-gradient(to right, #64baed, #4581a4);
}

.requirements-container {
    background-color: #202020;
    width: 100%;
}

.header-requirements {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #414141;
    margin: 20px;
}

.header-requirements h2 {
    color: #9a9a9a;
    padding-right: 20px;
}

.header-requirements h2:hover {
    cursor: pointer;
    color: #f5f5f5;
}

.requirements {
    display: flex;
    flex-direction: row;
    margin:20px;
    justify-content: space-between;
}

.minimum-requirements,
.recommended-requirements {
    width: 45%;
    height: auto;
}
/*--------------------FIN Contenido del juego*/
/*----------------------------------------FIN PAGINA JUEGO*/