<div class="game-container">
    <div class="game-header">
        <h1>{{game.name}}</h1>
    </div>
    <div class="game-body-container">
        <div class="game-content">
            <div class="media">
                <div class="carousel-container">
                    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-buffered rn-carousel-auto-slide class="carousel-media">
                        <li ng-repeat="screenshot in game.screenshots track by screenshot.id" ng-class="'id-' + screenshot.id">
                            <img ng-src="{{screenshot.path_full}}" class="carousel-media-image" alt="{{game.name}} Screenshot {{screenshot.id}}"/>
                        </li>
                    </ul>
                </div>
                <div class="thumbnails">
                    <div class="thumbnail" ng-repeat="screenshot in game.screenshots" ng-click="updateCarouselIndex(screenshot.id)" ng-class="{active: screenshot.id == carouselIndex}">
                        <img ng-src="{{screenshot.path_thumbnail}}" class="thumbnail_image" alt="{{game.name}} Screenshot {{screenshot.id}}" />
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="short-description">
                    <p>{{game.short_description}}</p>
                </div>
                <div class="characteristic">
                    <h3>Categorias: </h3>
                    <div class="characteristic-values">
                        <p ng-repeat="cat in game.categories">{{cat}}</p>
                    </div>
                </div>
                <div class="characteristic">
                    <h3>Generos: </h3>
                    <div class="characteristic-values">
                        <p ng-repeat="gen in game.genres">{{gen}}</p>
                    </div>
                </div>
                <div class="characteristic">
                    <h3>Etiquetas: </h3>
                    <div class="characteristic-values">
                        <p ng-repeat="tag in game.steamspy_tags">{{tag}}</p>
                    </div>
                </div>
                <div class="description-container" ng-class="{ 'show-more-desc': showMoreDesc }">
                    <div class="description" ng-bind-html="trustedHtml(game.detailed_description)"></div>
                </div>
                <button class="btn-ver-mas-desc" ng-click="toggleShowMoreDesc()" ng-bind="showMoreDesc ? 'Ver menos' : 'Ver más'"></button>
                <h1>Requerimientos</h1>
                <div class="requirements-container">
                    <div class="header-requirements">
                        <h2 ng-click="showPcReq()" ng-if="!(game.pc_requirements && game.pc_requirements.length === 0)">Windows</h2>
                        <h2 ng-click="showMacReq()" ng-if="!(game.mac_requirements && game.mac_requirements.length === 0)">Mac</h2>
                        <h2 ng-click="showLinuxReq()" ng-if="!(game.linux_requirements && game.linux_requirements.length === 0)">Linux</h2>
                    </div>
                    <div class="requirements" ng-if="pcReq">
                        <div class="minimum-requirements" ng-bind-html="trustedHtml(game.pc_requirements.minimum)"></div>
                        <div class="recommended-requirements" ng-bind-html="trustedHtml(game.pc_requirements.recommended)"></div>
                    </div>
                    <div class="requirements" ng-if="macReq">
                        <div class="minimum-requirements" ng-bind-html="trustedHtml(game.mac_requirements.minimum)"></div>
                        <div class="recommended-requirements" ng-bind-html="trustedHtml(game.mac_requirements.recommended)"></div>
                    </div>
                    <div class="requirements" ng-if="linuxReq">
                        <div class="minimum-requirements" ng-bind-html="trustedHtml(game.linux_requirements.minimum)"></div>
                        <div class="recommended-requirements" ng-bind-html="trustedHtml(game.linux_requirements.recommended)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-container">
            <div class="summary">
                <img class="summary-header-image" ng-src="{{game.header_image}}" alt="{{game.name}}"/>
                <div class="game-info">
                    <p class="game-info-key">Desarrollador: </p>
                    <p class="game-info-value" ng-repeat="dev in game.developer" ng-if="$last">{{dev}}</p>
                    <p class="game-info-value" ng-repeat="dev in game.developer" ng-if="!$last">| {{dev}}</p>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Editor: </p>
                    <p class="game-info-value" ng-repeat="pub in game.publisher" ng-if="$last">{{pub}}</p>
                    <p class="game-info-value" ng-repeat="pub in game.publisher" ng-if="!$last">| {{pub}}</p>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Fecha de lanzamiento: </p>
                    <p class="game-info-value">{{game.release_date | date:"dd MMM yyyy"}}</p>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Edad: </p>
                    <p class="game-info-value">{{game.required_age}}</p>
                </div>
                <span class="separator"></span>
                <div class="game-info">
                    <p class="game-info-key">Plataforma: </p>
                    <div class="game-info-value">
                        <p ng-repeat="plat in game.platforms" ng-if="$last">{{plat}}</p>
                        <p ng-repeat="plat in game.platforms" ng-if="!$last">| {{plat}}</p>
                    </div>
                </div>
                <span class="separator"></span>
                <p class="price">{{game.price | currency:"US$ " }}</p>
                <button class="btn-buy-now">Comprar Ahora</button>
            </div>
        </div>
    </div>
</div>