<div class="search-page-container">
    <div class="contenedorJuegos">
        <div class="table-head">
            <input
            class="form-search"
            type="text"
            ng-model="search"
            placeholder="Escribe el nombre del juego"
            />
            <button class="btn-search" ng-click="searchBy()">
                Search
            </button>
            <select
                class="form-property"
                ng-model="propertyName"
                ng-options="option for option in options">
            </select>
            <button class="btn-reverse" ng-click="reverse = !reverse">
                <!--alter between upper arrow and lower arrow-->
                <span ng-show="!reverse">▲</span>
                <span ng-show="reverse">▼</span>
            </button>
        </div>
        <table class="tabla_juegos">
            <tbody>
                <tr ng-click="gotoGame(gam.appid)" ng-repeat="gam in games | orderBy:propertyName:reverse">
                    <td class="game-logo">
                        <img
                        ng-src="{{gam.header_image}}"
                        alt="{{gam.name}}"
                        width="120"
                        height="48"
                        />
                    </td>
                    <!--<td>{{gam.appid}}</td>-->
                    <td class="game-name">{{gam.name | uppercase}}</td>
                    <td class="game-release_date">{{gam.release_date | date:"dd MMM yyyy"}}</td>
                    <!--<td class="game-average_playtime">{{gam.average_playtime}}</td>-->
                    <td class="game-price">{{gam.price | currency:"$" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contenedorFiltros">
        <div class="filter-price-range">
            <p>Limitar por precio</p>
            <input type="range" min="0" max="{{maxPrice}}" ng-model="priceRange" ng-change="filterByPrice()" />
            <p1> Menos de USD$ {{priceRange}} </p1>
        </div>
        <table class="tablita">
            <thead>
                <button class="filter_btn" ng-click="toggleShowFilter(0, categories.lenght())"> Categories </button>
            </thead>
            <tbody>
                <tr class="filter" ng-repeat="cat in categories | limitTo: lims[0]">
                    <td class="filterCont" ng-class="{ 'selected': cat.checked }">
                        <input type="checkbox" ng-model="cat.checked" ng-change="filterBy(0, cat)" />
                        {{cat.name}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="tablita">
            <thead>
                <button class="filter_btn" ng-click="toggleShowFilter(1, genres.lenght())"> Genres </button>
            </thead>
            <tbody>
                <tr class="filter" ng-repeat="gen in genres | limitTo: lims[1]">
                    <td> <input type="checkbox" onchange="changeBackground(this)" ng-model="gen.checked" ng-change="filterBy(1, gen)" /> {{gen.name}} </td>
                </tr>
            </tbody>
        </table>
        <table class="tablita">
            <thead>
                <button class="filter_btn" ng-click="toggleShowFilter(2, tags.lenght())"> Etiquetas </button>
            </thead>
            <tbody>
                <tr class="filter" ng-repeat="tag in tags | limitTo: lims[2]">
                    <td> <input type="checkbox" onchange="changeBackground(this)" ng-model="tag.checked" ng-change="filterBy(2, tag)" /> {{tag.name}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
